@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;700&display=swap");

:root {
  --primary: #189ab4;
  --secondary: #d4f1f4;
}

body {
  font-family: "STIX Two Text", serif;
  margin: 0px;
}

.section {
  padding: 3rem;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--secondary);
}

.container {
  padding: 0rem 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}

.list-non-bullet {
  list-style: none;
}

.list-inline {
  display: inline;
  padding: 0rem 1rem;
}
.lists {
  padding: 1rem 0rem;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary);
  color: white;
  border-radius: 0.5rem;
}
.link-secondary {
  color: var(--primary);
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
}

.footer {
  background-color: var(--primary);
  padding: 2rem;
  text-align: center;
  color: white;
}
.footer .footer-heading {
  font-weight: bold;
  font-size: large;
}
.footer .link {
  color: white;
}

.footer .social-links {
  padding-inline-start: 0px;
}
